#left_div {
    float: left;
    width: 30em;
}

#right_div {
}

#batch_div {
    float: left;
}

#status_div {
    clear: both;
}

#weight_div {
    clear: both;
    float: left;
    padding: 1em 2em 1em 2em;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0.6em;
}

#offset_div {
    float: left;
    padding: 1em 2em 1em 2em;
    margin-left: 1em;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0.6em;
}

#weight_div > span, #offset_div > span {
    color: #ffffff;
}

#current_info_div {
    clear: both;
}

#variety_div {
    clear: both;
    width: 30em;
}

#picker_div {
    width: 30em;
}

#picker_div > input, #variety_div > input {
    min-width: 8em;
    min-height: 8em;
}

#history_table {
    border: 1px dashed black;
}

#history_table tr:hover {
    cursor: pointer;
}

#history_table tr.selected {
    background-color: #000000;
    color: #ffffff;
}

#history_table tr.editable {
    background-color: #ffff00;
    color: #0000ff;
}

.underweight {
    background-color: #0000ff;
}

.within_range {
    background-color: #00ff00;
}

.overweight {
    background-color: #ff0000;
}
