{% extends "base.html" %}

{% block content %}

{%if csvfile %}
<div id="exported_file">
    <p>Click the file below to download</p>
    <a href={{csvfile}}>{{csvfilename}}</a>
</div>
{% else %}
<script type="text/javascript" src="/media/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/base/jquery-ui.css" type="text/css" media="screen" title="Base"/>
<script type="text/javascript">
    Date.format = 'dd/mm/yyyy';
    $(function() {
        $("#startDate").datepicker({dateFormat: 'dd-mm-yy'});
    });
    $(function() {
        $("#endDate").datepicker({dateFormat: 'dd-mm-yy'});
    });
</script>
<p>Please select the range for which a timesheet report should be generated.</p>
<form name="csv_form" action="" method="post" id="csv_form">
    <label for="startDate">Start Date</label>
    <input name="startDate" id="startDate" type="text">
    <label for="endDate">End Date</label>
    <input name="endDate" id="endDate" type="text">
    <input type="submit" value="Submit"/>
</form>
{% endif %}

{% endblock %}
