{%extends "gleba_base.html"%}

{%block extrahead%}
<title>Gleba Picker Report</title>
{%endblock%}

{%block content%}
<script>
function get_totals() {
    var xhr = new XMLHttpRequest();
    var start_date = document.getElementById('start_date').value;
    var end_date = document.getElementById('end_date').value;
    var post_params = 'start_date=' + start_date + '&end_date=' + end_date;
    xhr.onreadystatechange = function() {
        if(xhr.readyState == 4 && xhr.status == 200) {
            var data = JSON.parse(xhr.responseText);
            for(var i in data)
                add_box_to_table(data[i]);
        }
    };
    xhr.open('POST', 'daily_totals.json', true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.send(post_params);
}

function get_hours() {
    var xhr = new XMLHttpRequest();
    var start_date = document.getElementById('start_date').value;
    var end_date = document.getElementById('end_date').value;
    var post_params = 'start_date=' + start_date + '&end_date=' + end_date;
    xhr.onreadystatechange = function() {
        if(xhr.readyState == 4 && xhr.status == 200) {
            var data = JSON.parse(xhr.responseText);
            for(var i in data)
                add_bundy_to_table(data[i]);
        }
    };
    xhr.open('POST', 'daily_hours.json', true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.send(post_params);
}

function binary_search_table(table, box, start_idx, end_idx) {
    if(start_idx >= end_idx)
        return {"false": start_idx};
    var mid = Math.floor((start_idx + end_idx)/2);
    var timestamp = table.rows[mid].cells[0].innerHTML;
    if(timestamp == box.timestamp)
        return {"true": mid};
    if(timestamp > box.timestamp)
        return binary_search_table(table, box, start_idx, mid);
    else
        return binary_search_table(table, box, mid+1, end_idx);
}

function table_contains(table, box) {
    if(table.rows.length <= 0)
        return {"false": 0};
    return binary_search_table(table, box, 0, table.rows.length);
}

/* extracts all cells from column from table */
function extract_column(table, column) {
    var data = [];
    for(var i=0; i<table.rows.length; i++)
        data.push(parseFloat(table.rows[i].cells[column].innerHTML));
    return data;
}

/* calculates the sum of an array */
function sum(a) {
    var s = 0;
    for(var i=0; i<a.length; i++)
        s += a[i];
    return s;
}

/* calculates the mean of an array */
function mean(a) {
    return sum(a) / a.length;
}

/* calculates the variance of an array */
function variance(a) {
    var result = 0;
    var m = mean(a);
    for(var i = 0; i < a.length; i++) {
        var tmp = a[i] - m;
        result += tmp * tmp;
    }
    return result / a.length;
}

/* calculates the standard deviation of an array */
function std_deviation(a) {
    return Math.sqrt(variance(a));
}

function add_box_to_table(box) {
    var tbl = document.getElementById('boxes_table').tBodies[0];
    var result = table_contains(tbl, box);
    if(result.true >= 0)
        return false;
    var new_row = tbl.insertRow(result["false"]);
    var fw_cell = new_row.insertCell(0);
    fw_cell.appendChild(document.createTextNode(box.final_weight));
    var iw_cell = new_row.insertCell(0);
    iw_cell.appendChild(document.createTextNode(box.initial_weight));
    var timestamp_cell = new_row.insertCell(0);
    timestamp_cell.appendChild(document.createTextNode(box.timestamp));
    // update totals and stats
    var iw_array = extract_column(tbl, 1);
    var fw_array = extract_column(tbl, 2);
    var total_iw_cell = document.getElementById('total_initial_weight');
    var total_fw_cell = document.getElementById('total_final_weight');
    total_initial_weight.firstChild.nodeValue = sum(iw_array);
    total_final_weight.firstChild.nodeValue = sum(fw_array);
    var mean_ = document.getElementById('mean');
    mean_.innerHTML = mean(iw_array);
    var variance_ = document.getElementById('variance');
    variance_.innerHTML = variance(iw_array);
    var std_dev_ = document.getElementById('standard_deviation');
    std_dev_.innerHTML = std_deviation(iw_array);
    return true;
}

function binary_search_hours_table(table, bundy, start_idx, end_idx) {
    if(start_idx >= end_idx)
        return {"false": start_idx};
    var mid = Math.floor((start_idx + end_idx)/2);
    var time_in = table.rows[mid].cells[0].innerHTML;
    if(time_in == bundy.time_in)
        return {"true": mid};
    if(time_in > bundy.time_in)
        return binary_search_hours_table(table, bundy, start_idx, mid);
    else
        return binary_search_hours_table(table, bundy, mid+1, end_idx);
}

function hours_table_contains(table, bundy) {
    if(table.rows.length <= 0)
        return {"false": 0};
    return binary_search_hours_table(table, bundy, 0, table.rows.length);
}

function add_bundy_to_table(bundy) {
    var tbl = document.getElementById('bundy_table').tBodies[0];
    var result = hours_table_contains(tbl, bundy);
    if(result.true >= 0)
        return false;
    var new_row = tbl.insertRow(result["false"]);
    var hadlunch_cell = new_row.insertCell(0);
    hadlunch_cell.appendChild(document.createTextNode(bundy.had_lunch));
    var timeout_cell = new_row.insertCell(0);
    timeout_cell.appendChild(document.createTextNode(bundy.time_out));
    var timein_cell = new_row.insertCell(0);
    timein_cell.appendChild(document.createTextNode(bundy.time_in));
    // update total hours worked
    var time_out = new Date(bundy.time_out);
    var time_in = new Date(bundy.time_in);
    var hours_worked_ms = time_out - time_in; // in milliseconds
    var total_cell = document.getElementById('total_hours_worked');
    var total = parseFloat(total_cell.firstChild.nodeValue);
    total += parseFloat(hours_worked_ms / 3600000);
    total_cell.firstChild.nodeValue = total;
    return true;
}
</script>
<span>Start date</span><input id="start_date" type="date"/>
<span>End date</span><input id="end_date" type="date"/>
<input id="get_totals_button" type="button" value="Submit" onclick="get_totals(); get_hours();"/>
<table id="boxes_table">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Initial Weight</th>
      <th>Final Weight</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>Totals</td>
      <td id="total_initial_weight">0.0</td>
      <td id="total_final_weight">0.0</td>
    </tr>
  </tfoot>
  <tbody></tbody>
</table>
<div id="stats">
  <p><span>Mean:</span><span id="mean"></span></p>
  <p><span>Variance:</span><span id="variance"></span></p>
  <p><span>Standard Deviation:</span><span id="standard_deviation"></span></p>
</div>
<table id="bundy_table">
  <thead>
    <tr>
      <th>Time In</th>
      <th>Time Out</th>
      <th>Had Lunch</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>Total hours worked</td>
      <td id="total_hours_worked">0.0</td>
    </tr>
  </tfoot>
  <tbody></tbody>
</table>
{%endblock%}
