{%extends "gleba_base.html"%}

{%block extrahead%}
<title>Gleba report</title>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui/js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/static/js/jquery-ui/css/smoothness/jquery-ui.css" media="screen" title="Base"/>
<link rel="stylesheet" href="/static/css/report.css"/>
<!--[if IE]><script src="/static/js/jqplot/excanvas.js"></script><![endif]-->
<script src="/static/js/jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" href="/static/js/jqplot/jquery.jqplot.css"/>
<link rel="stylesheet" href="/static/js/jqgrid/css/ui.jqgrid.css"/>
<script src="/static/js/jqplot/plugins/jqplot.dateAxisRenderer.js"></script>
<script src="/static/js/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script src="/static/js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script src="/static/js/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script src="/static/js/jqgrid/js/i18n/grid.locale-en.js"></script>
<script src="/static/js/jqgrid/js/jquery.jqGrid.min.js"></script>
<script src="/static/js/custom/report.js"></script>
<script>
    $(function() {
        {%if jqplot_data%}
        var graph_target = '{{report_type}}' + '_report_graph';
        var plot_data = {{jqplot_data|safe}};
        Report.plot_report_graph(graph_target, plot_data)
        $('.total_value').html(Report.calculate_total(plot_data));
        {%endif%}
    });
</script>
{%endblock%}

{%block content%}
  {%ifequal report_type "picker"%}
  <table id="picker_table" class="report_table"></table>
  <script>
    $('#picker_table').jqGrid({
        caption: 'Picker Report :: {{picker.full_name}} ({{start_date}} ~ {{end_date}})',
        height: 200,
        datatype: 'local',
        colNames:['Date', 'Total Picked', 'kg/hr'],
        colModel:[
            {name:'date',index:'date', width:160, align:'left'},
            {name:'total_picked',index:'total_picked', width:160, align:'right',sorttype:'float'},
            {name:'kghr',index:'kghr', width:160, align:'right',sorttype:'float'},
        ],
        shrinkToFit: true,
    });
    var mydata = {{jqplot_data|safe}};
    var plot_data = new Array();
    for(i=0; i<mydata.length; i++)
        plot_data.push({'date': mydata[i][0],
                        'total_picked': mydata[i][1],
                        'kghr': mydata[i][2]
        });
    for(var i=0;i<=plot_data.length;i++)
        $('#picker_table').jqGrid('addRowData',i+1,plot_data[i]);
  </script>
  <div id="picker_report_graph" class="report_graph"></div>
  {%endifequal%}

  {%ifequal report_type "room"%}
  <h1>Room Report :: {{room.number}}</h1>  
  <div id="room_report_graph" class="report_graph"></div>
  <table>
    <tr>
      <th>Date</th>
      <th>Picked (kg)</th>
    </tr>
    {%for date, weight in jqplot_data%}
    <tr>
      <td>{{date}}</td>
      <td>{{weight}}</td>
    </tr>
    {%endfor%}
    <tr class="total_row">
      <td>Total:</td>
      <td class="total_value"></td>
    </tr>
  </table>
  {%endifequal%}

  {%ifequal report_type "flush"%}
  <h1>Flush Report :: {{flush}}</h1> 
  <div id="flush_report_graph" class="report_graph"></div>
  <table>
    <tr>
      <th>Date</th>
      <th>Picked (kg)</th>
    </tr>
    {%for date, weight in jqplot_data%}
    <tr>
      <td>{{date}}</td>
      <td>{{weight}}</td>
    </tr>
    {%endfor%}
    <tr class="total_row">
      <td>Total:</td>
      <td class="total_value"></td>
    </tr>
  </table>
  {%endifequal%}

  {%ifequal report_type "crop"%}
  <h1>Crop Report :: {{crop}}</h1> 
  <div id="crop_report_graph" class="report_graph"></div>
  <table>
    <tr>
      <th>Date</th>
      <th>Picked (kg)</th>
    </tr>
    {%for date, weight in jqplot_data%}
    <tr>
      <td>{{date}}</td>
      <td>{{weight}}</td>
    </tr>
    {%endfor%}
    <tr class="total_row">
      <td>Total:</td>
      <td class="total_value"></td>
    </tr>
  </table>
  {%endifequal%}

  {%ifequal report_type "all_pickers"%}
  <table id="all_pickers_table"></table>
  <script>
    $('#all_pickers_table').jqGrid({
        caption: 'Overall Picking ({{startDate}} ~ {{endDate}})',
        datatype: 'local',
        colNames:['ID', 'First Name','Last Name', 'Total Picked', 'kg/hr','Avg Initial Weight'],
        colModel:[
            {name:'picker_id',index:'picker_id', width:30, align:'center'},
            {name:'first_name',index:'first_name', width:100},
            {name:'last_name',index:'last_name', width:100},
            {name:'total_picked',index:'total_picked', width:80, align:'right',sorttype:'float'},
            {name:'kghr',index:'kghr', width:80, align:'right',sorttype:'float'},
            {name:'avg',index:'avg', width:110, align:'right',sorttype:'float'},
        ],
        shrinkToFit: false,
    });
    var mydata = {{data|safe}};
    for(var i=0;i<=mydata.length;i++)
        $('#all_pickers_table').jqGrid('addRowData',i+1,mydata[i]);
  </script>
  {%endifequal%}

  {%ifequal report_type "default_page"%}
  <div>
    <h2>Picker</h2>
    {{date_error}}
    <form name="picker_report_form" action="picker/" method="post" id="picker_report_form">
      <select name="picker" id="picker_menu">
        {%for picker in picker_list%}
        <option value={{picker.id}}>{{picker.id}} - {{picker.full_name}}</option>
        {%endfor%}
      </select><br/>
      <label for="picker_start_date">Start Date</label>
      <input name="startDate" class="dateField" id="picker_start_date" type="date"/>
      <span>YYYY-MM-DD</span><br/>
      <label for="picker_end_date">End Date</label>
      <input name="endDate" class="dateField" id="picker_end_date" type="date"/>
      <span>YYYY-MM-DD</span><br/>
      <input type="submit" onClick="Report.submitForm('picker_')" value="Submit"/><br/>
    </form>
  </div>
  
  <div>
    <h2>All Pickers</h2>
    <form name="all_picker_report_form" action="picker/" method="post" id="all_picker_report_form">
      <label for="all_pickers_start_date">Start Date</label>
      <input name="startDate" class="dateField" id="all_pickers_start_date" type="date"/>
      <span>YYYY-MM-DD</span><br/>
      <label for="all_pickers_end_date">End Date</label>
      <input name="endDate" class="dateField" id="all_pickers_end_date" type="date"/>
      <span>YYYY-MM-DD</span><br/>
      <input type="submit" onClick="Report.submitAllPickerForm()" value="Submit"/><br/>
    </form>
  </div>
      
  <div>
    <h2>Flush</h2>
    <form name="flush_report_form" action="flush/" method="post" id="flush_report_form">
      <label for="flush_menu">Flush ID</label>
      <input type="text" name="flush" id="flush_menu"/><br/>
      <input type="submit" onClick="Report.submitForm('flush_')" value="Submit"/><br/>
    </form>
  </div>

  <div>
    <h2>Crop</h2>
    <form name="crop_report_form" action="crop/" method="post" id="crop_report_form">
      <label for="crop_menu">Crop ID</label>
      <input type="text" name="crop" id="crop_menu"/><br/>
      <input type="submit" onClick="Report.submitForm('crop_')" value="Submit"/>
    </form>
  </div>

  <div>
    <h2>Room</h2>
    <form name="room_report_form" action="room/" method="post" id="room_report_form">
      <label for="room_menu">Room Number</label>
      <select name="room" id="room_menu">
        {%for room in room_list%}
        <option value={{room.number}}>{{room.number}}</option>
        {%endfor%}
      </select><br/>
      <label for="room_start_date">Start Date</label>
      <input name="startDate" class="dateField" id="room_start_date" type="date"/>
      <span>YYYY-MM-DD</span><br/>
      <label for="room_end_date">End Date</label>
      <input name="endDate" class="dateField" id="room_end_date" type="date"/>
      <span>YYYY-MM-DD</span><br/>
      <input type="submit" onClick="Report.submitForm('room_')" value="Submit"/>
    </form>
  </div>
  {%endifequal%}
  {{debug}}
{%endblock%}
